.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../assets/gourmet.jpg');
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.home h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.home button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.home button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}